* {
  box-sizing: border-box;
}

body {
  background-color: rgb(229, 226, 226);
}

.grid-item {
  margin: 8px;
  width: 30%;
  border-radius: 8px;
}

.grid-item h4 {
  font-weight: 600;
}

.grid-item img {
  margin: auto;
  width: 100%;
  max-height: 200px;
}

@media (max-width: 768px) {
  .grid-item {
    width: 100%;
  }
}
