* {
  box-sizing: border-box;
}

body {
  background-color: rgb(229, 226, 226);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.grid-item {
  border-radius: 6px;
}

.grid-item h4 {
  font-weight: 600;
}

.grid-item img {
  margin: auto;
  width: 100%;
  max-height: 200px;
}
